.sel {
  position: relative;
  font-family: Arial;
  background-color: #D0ADA7;
  left: 25%;
  height: 30px;
  top: 50px;
  border-radius: 15px;
  text-align: center;
  font-size: 15px;
}

#heads {
  position: absolute;
  left: 25%;
  font-family: Arial;
}

.tooltip {
  position: absolute;
  background: white;
  padding: 5px;
  border: 1px gray solid;
  border-radius: 5px;
  opacity: 0;
  width: 250px;
  font-family: Arial;
}

g {
  font-size: 15px;
}

.select-items div,.select-selected {
  border-radius: 15px;
}